/* 
    Created on : 6 déc. 2015, 11:04:42
    Author     : id2
*/

.gfa-wrapper {
    max-width: 100%;
   
    .error {
        margin: 0 -2em;  
        padding : 2em 2.5em;
        background-color: tomato;
        border: 1px solid #CC0000 ;
        color: #FFF;
    }
    header{
        margin-left: -2em;  
        padding : 2em 2.5em;
        background-color: #23282D;
        color: #CCC;
        h1 {
            color: #CCC;
        }
    }
    
    blockquote {
        position: relative;
        display: inline-block;
        padding-bottom: 3em;
        font-style: italic;
        &:before {
            position: absolute;
            top: 0;
            left: -.5em;
            content: '“';
            font-size: 3em;
            font-style: italic;
        }
        span {
            position: absolute;
            right: 0;
            bottom: 0;
            padding: 1em;
            font-style: normal;
        }
    }
    //submit button
    .gfa-form-submit {
        float: right;
        margin-right: 1.8em;
        margin-bottom: 1em;
        padding: .5em 1em;
        border: 3px solid #FFF;
        background-color: #191;
        color: #FFF;
        font-size: 1.2em;
        transition: background 1s;
        cursor: pointer;
    }
    .gfa-form-submit:hover , .gfa-form-submit:focus {
        background-color: #070;
        transition: background 1s;
    } 
    
    // Config CSS
    .gfa-block-config {
        background-color: #FFF;
        color: #222;
        padding: 1em;
        margin: 1em 0;
        max-width: 800px;
        border: 1px solid #AAA;
        
        &.alpha {
            position: relative;
            background-color: #FCC;
            &::after {
                position: absolute;
                top: 0;
                right: 0;
                padding: .5em 1em;
                content: "alpha";
                background: red;
                color: #FFF
                
            }
        }
        h3 {
            margin: 0;
        }
        .gfa-block-hint, .gfa-field-hint{
            font-size: .9em;
            margin-top: 5px;
        }
        label {
            font-weight: bold;
            font-size: 1.1em;
        }
        input[name$='api'] {
            width: 30em;
        }
        .gfa-inline-field {
            margin-top: 2em;
        }
        .gfa-inline-field input, .gfa-inline-field label {
            display: inline-block;
            vertical-align: middle;
        } 
    }
    
    
    
    //font-filter
    .gfa-font-filter-title {
        display: inline-block;
        margin-right: 2em;
    }
    .gfa-font-filter {
        display: -ms-inline-flexbox;
        display: -webkit-inline-flex;
        display: inline-flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
        align-content: stretch;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
    .gfa-font-filter-item {
        flex: 0 0 auto;
        background-color: #AAA;
        border: 3px solid transparent ; 
    }
    .gfa-font-filter-item:hover , .gfa-font-filter-item:focus, 
    .gfa-font-filter-item.is-check:hover , .gfa-font-filter-item.is-check:focus {
        border: 3px solid #FFF;
    }
    .gfa-font-filter-item.is-check {
        background-color: #191;
        color: #FFF;
        border: 3px solid #191;
    }
    .gfa-font-filter-item label {
        display: block;
        padding: .5em 1em;
    }
    .gfa-font-filter-item input {
        display: none;
    }
    
    //filter action 
    .gfa-not-serif{
        .serif
        .gfa-font-item.is-check.serif  {
            display: none;
        }
    }
    .gfa-not-sans-serif{
        .sans-serif
        .gfa-font-item.is-check.sans-serif  {
            display: none;
        }
    }
    .gfa-not-display{
        .display
        .gfa-font-item.is-check.display  {
            display: none;
        }
    }
    .gfa-not-handwriting{
        .handwriting,
        .gfa-font-item.is-check.handwriting {
            display: none;
        }
    }
    .gfa-not-monospace{
        .monospace,
        .gfa-font-item.is-check.monospace {
            display: none;
        }
    }
    
    .gfa-just-selected{
        .gfa-font-item {
            display: none;
        }
        .gfa-font-item.is-check {
            display: list-item;
        }
    }
    //font-selector
    .gfa-font-selector-wrapper {
        overflow-y: scroll;
        max-height: 80vh;
        max-width: 900px;
        clear: both;
    }
    .gfa-font-list {
        display: block;
        margin-left: -1em;
        padding: .5em;
        max-width: 100%;
    }
    .gfa-font-item {
        background-color: #FFF;
        
    }   
    .gfa-font-label {
        display: block;
        padding: .5em .5em .5em 3em ;
        text-decoration: none;
        font-size: 1.2em;
        color: #222;
        transition: background 1s;
        transition: color 1s;
    }
    
    .gfa-font-item.is-check .gfa-font-label {
        background-color: #070;
        color: #FFF;
        transition: background 1s;
        transition: color 1s;
    }
    .gfa-font-cat {
        font-size: 0.7em;
        
    }
    .gfa-font-check {
        float: left;
        position: relative;
        top: -1.5em;
        left: 1em;
    }
    .gfa-font-info {
        height:0;
        opacity: 0;
    }
    .gfa-font-check:checked + .gfa-font-info {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
        align-content: stretch;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
        padding: .5em 2em;
        height: auto;
        opacity: 1;
        transition: opacity 1s;
        & > div {
            -webkit-flex: 0 1 auto;
           -ms-flex: 0 1 auto;
           flex: 0 1 auto;
           -webkit-align-self: auto;
           -ms-flex-item-align: auto;
           align-self: strech;
           width: 50%;
        }
        & > div + div {
            border-left: 1px solid #CCC;
            padding-left: 1em;
        }
    }
    h4 {
           margin: 0;
           padding: 0;
    }
    .gfa-font-subset , .gfa-font-weight {
        margin-top: 1em;
        padding: 0 .5em;

        li {
            display: inline-block;
            box-sizing: border-box;
            width: 50%;
            padding: .5em;
            border-top: 1px solid #CCC;
        }
    }

    
}
