/* 
    Created on : 6 déc. 2015, 11:04:42
    Author     : id2
*/
.gfa-wrapper {
  max-width: 100%;
}
.gfa-wrapper .error {
  margin: 0 -2em;
  padding: 2em 2.5em;
  background-color: tomato;
  border: 1px solid #CC0000 ;
  color: #FFF;
}
.gfa-wrapper header {
  margin-left: -2em;
  padding: 2em 2.5em;
  background-color: #23282D;
  color: #CCC;
}
.gfa-wrapper header h1 {
  color: #CCC;
}
.gfa-wrapper blockquote {
  position: relative;
  display: inline-block;
  padding-bottom: 3em;
  font-style: italic;
}
.gfa-wrapper blockquote:before {
  position: absolute;
  top: 0;
  left: -0.5em;
  content: '“';
  font-size: 3em;
  font-style: italic;
}
.gfa-wrapper blockquote span {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 1em;
  font-style: normal;
}
.gfa-wrapper .gfa-form-submit {
  float: right;
  margin-right: 1.8em;
  margin-bottom: 1em;
  padding: .5em 1em;
  border: 3px solid #FFF;
  background-color: #191;
  color: #FFF;
  font-size: 1.2em;
  transition: background 1s;
  cursor: pointer;
}
.gfa-wrapper .gfa-form-submit:hover,
.gfa-wrapper .gfa-form-submit:focus {
  background-color: #070;
  transition: background 1s;
}
.gfa-wrapper .gfa-block-config {
  background-color: #FFF;
  color: #222;
  padding: 1em;
  margin: 1em 0;
  max-width: 800px;
  border: 1px solid #AAA;
}
.gfa-wrapper .gfa-block-config.alpha {
  position: relative;
  background-color: #FCC;
}
.gfa-wrapper .gfa-block-config.alpha::after {
  position: absolute;
  top: 0;
  right: 0;
  padding: .5em 1em;
  content: "alpha";
  background: red;
  color: #FFF;
}
.gfa-wrapper .gfa-block-config h3 {
  margin: 0;
}
.gfa-wrapper .gfa-block-config .gfa-block-hint,
.gfa-wrapper .gfa-block-config .gfa-field-hint {
  font-size: .9em;
  margin-top: 5px;
}
.gfa-wrapper .gfa-block-config label {
  font-weight: bold;
  font-size: 1.1em;
}
.gfa-wrapper .gfa-block-config input[name$='api'] {
  width: 30em;
}
.gfa-wrapper .gfa-block-config .gfa-inline-field {
  margin-top: 2em;
}
.gfa-wrapper .gfa-block-config .gfa-inline-field input,
.gfa-wrapper .gfa-block-config .gfa-inline-field label {
  display: inline-block;
  vertical-align: middle;
}
.gfa-wrapper .gfa-font-filter-title {
  display: inline-block;
  margin-right: 2em;
}
.gfa-wrapper .gfa-font-filter {
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.gfa-wrapper .gfa-font-filter-item {
  flex: 0 0 auto;
  background-color: #AAA;
  border: 3px solid transparent ;
}
.gfa-wrapper .gfa-font-filter-item:hover,
.gfa-wrapper .gfa-font-filter-item:focus,
.gfa-wrapper .gfa-font-filter-item.is-check:hover,
.gfa-wrapper .gfa-font-filter-item.is-check:focus {
  border: 3px solid #FFF;
}
.gfa-wrapper .gfa-font-filter-item.is-check {
  background-color: #191;
  color: #FFF;
  border: 3px solid #191;
}
.gfa-wrapper .gfa-font-filter-item label {
  display: block;
  padding: .5em 1em;
}
.gfa-wrapper .gfa-font-filter-item input {
  display: none;
}
.gfa-wrapper .gfa-not-serif .serif .gfa-font-item.is-check.serif {
  display: none;
}
.gfa-wrapper .gfa-not-sans-serif .sans-serif .gfa-font-item.is-check.sans-serif {
  display: none;
}
.gfa-wrapper .gfa-not-display .display .gfa-font-item.is-check.display {
  display: none;
}
.gfa-wrapper .gfa-not-handwriting .handwriting,
.gfa-wrapper .gfa-not-handwriting .gfa-font-item.is-check.handwriting {
  display: none;
}
.gfa-wrapper .gfa-not-monospace .monospace,
.gfa-wrapper .gfa-not-monospace .gfa-font-item.is-check.monospace {
  display: none;
}
.gfa-wrapper .gfa-just-selected .gfa-font-item {
  display: none;
}
.gfa-wrapper .gfa-just-selected .gfa-font-item.is-check {
  display: list-item;
}
.gfa-wrapper .gfa-font-selector-wrapper {
  overflow-y: scroll;
  max-height: 80vh;
  max-width: 900px;
  clear: both;
}
.gfa-wrapper .gfa-font-list {
  display: block;
  margin-left: -1em;
  padding: .5em;
  max-width: 100%;
}
.gfa-wrapper .gfa-font-item {
  background-color: #FFF;
}
.gfa-wrapper .gfa-font-label {
  display: block;
  padding: .5em .5em .5em 3em ;
  text-decoration: none;
  font-size: 1.2em;
  color: #222;
  transition: background 1s;
  transition: color 1s;
}
.gfa-wrapper .gfa-font-item.is-check .gfa-font-label {
  background-color: #070;
  color: #FFF;
  transition: background 1s;
  transition: color 1s;
}
.gfa-wrapper .gfa-font-cat {
  font-size: 0.7em;
}
.gfa-wrapper .gfa-font-check {
  float: left;
  position: relative;
  top: -1.5em;
  left: 1em;
}
.gfa-wrapper .gfa-font-info {
  height: 0;
  opacity: 0;
}
.gfa-wrapper .gfa-font-check:checked + .gfa-font-info {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: .5em 2em;
  height: auto;
  opacity: 1;
  transition: opacity 1s;
}
.gfa-wrapper .gfa-font-check:checked + .gfa-font-info > div {
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: strech;
  width: 50%;
}
.gfa-wrapper .gfa-font-check:checked + .gfa-font-info > div + div {
  border-left: 1px solid #CCC;
  padding-left: 1em;
}
.gfa-wrapper h4 {
  margin: 0;
  padding: 0;
}
.gfa-wrapper .gfa-font-subset,
.gfa-wrapper .gfa-font-weight {
  margin-top: 1em;
  padding: 0 .5em;
}
.gfa-wrapper .gfa-font-subset li,
.gfa-wrapper .gfa-font-weight li {
  display: inline-block;
  box-sizing: border-box;
  width: 50%;
  padding: .5em;
  border-top: 1px solid #CCC;
}
/*# sourceMappingURL=google-fonts-async-admin.css.map */